body {
  background-color: rgb(220, 235, 233);
}

.box {
  width: 288px;
  background-color: white;
  border-radius: 0.4rem;
  margin: 1rem;
  box-shadow: 2px 2px 5px rgb(168 160 160);
  transition: 0.2s ease;
  cursor: pointer;
}

.img-class {
  width: 288px;
  height: 150px;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.tours-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.sub {
  display: flex;
}
.side {
  position: absolute;
  bottom: 4px;
  right: 0px;
  background-color: rgb(123, 222, 240);
  color: rgb(98, 97, 185);
  padding: 5px;
  border-top-left-radius: 5px;
}
.img-div {
  position: relative;
}
h1 {
  text-transform: uppercase;
  margin: auto auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: fantasy;
  letter-spacing: 2px;
}
.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.single-btn {
  width: 235px;
  text-align: center;
}
.btn {
  width: 190px;
  height: 42px;
  background-color: white;
  border: transparent;
  border-radius: 9px;
  font-size: 17px;
}
.seperate {
  color: rgb(51 112 123);
}

.btn:hover {
  background-color: rgb(51 112 123);
  color: white;
}
.drop-div {
  text-align: center;
}
.drop-down {
  width: 242px;
  padding: 9px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  user-select: none;
}
h3 {
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}
.para {
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  color: #b8b0b0;
}
.sub {
  margin: 10px;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: space-between;
  font-size: 0.9rem;
  color: rgb(110, 222, 241);
}
.box:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}

@media screen and (max-width: 1366px) {
  .tours-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
}

@media screen and (max-width: 950px) {
  .tours-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
@media screen and (max-width: 776px) {
  .btn {
    width: 176px;
  }
}
@media screen and (max-width: 712px) {
  .btn {
    width: 154px;
  }
}

@media screen and (max-width: 600px) {
  .tours-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .btn {
    width: 115px;
  }
}
@media screen and (max-width: 412px) {
  .btn {
    width: 91px;
    font-size: 13px;
  }
}

@media screen and (max-width: 360px) {
  .btn {
    width: 77px;
    font-size: 11px;
  }
}
